<h2 class="mb-4">Edit Quiz</h2>

<form action="/quizzes/{{quiz._id}}/edit" method="POST">
    <div class="mb-3">
        <label class="form-label">Title:</label>
        <input type="text" class="form-control" name="title" value="{{quiz.title}}" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Description:</label>
        <input type="text" class="form-control" name="description" value="{{quiz.description}}">
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
