<footer class="bg-white text-center text-muted py-3 mt-5 border-top">
    <div class="container">
        <p class="mb-1 fw-bold">&copy; 2026 - Ứng Dụng Quản Lý Ngân Hàng Câu Hỏi & Đề Thi</p>
        <small class="text-secondary">Phát triển bằng Node.js, Express, EJS & Handlebars | Assignment 2 - SDN302</small>
    </div>
</footer>